* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.navbar {
    background-color: rgb(45, 62, 80);
    min-height: 100px;
}

.nav-link {
    color: #f6f9f8;
    text-decoration: none;
}

.nav-link:hover {
    color: #1bbc9b;
}

#navbar .navbar-brand {
    font-size: 1.75em;
}


img {
    height: 254.538px;
    text-align: center;
}

#main {
    align-items: center;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 1.5rem;
}

.bg-primary {
    background-color: #1bbc9b !important;
}

h2 {
    font-size: 3rem;
}

#download {
    font-size: 1.40rem;
    padding: 1rem;
}

.footer {
    background-color: rgb(45, 62, 80);
}

.copyright {
    background-color: #1b252f;
}

#download2 {
    color: #1abc9c;
}

#download2:hover {
    color: #15967d;
}